<%= form_for @article do |f| %>
<%= render 'common/error_messages', model: @article %>
 <div class="form-group">
		<%= f.label :title %>
		<%= f.text_field :title, class: "form-control"%>
	</div>
	<div class="form-group">
		<%= f.label :text %>
		<%= f.text_area :text, class: "form-control"%>
	</div>
	<div class="form-group">
		<%= f.label :tags %>
		<%= f.text_field :tags, class: "form-control"%>
	</div>
	<div class="form-group">
		<%= f.label :banner %>
		<%= f.file_field :banner, class: "form-control"%>
	</div>
	<div class="form-group">
		<%= f.submit class: "btn btn-danger" %>
	</div>
<% end %>