<h1>List Articles</h1>

<%= form_tag articles_path, method: :get do %>
  <div class="input-group">
    <%= text_field_tag :q, "", class: "form-control" %>
    <span class="input-group-btn">
      <%= submit_tag "Search", class: "btn btn-default" %>
    </span>
  </div>
<% end %>


<div class="list-group">
	<% @articles.each do |article| %>
   <div class="list-group-item">
    <h4 class="list-group-item-heading"><%= article.title %> </h4>
		  <div class="list-group-item-text"> <%= article.text %> 
      </div>
      <div class="list-group-item-text"> Autor : <%= article.author.email %> 
      </div><br>
      <div class="list-group-item-text"> Tagi : 
        <% article.tags.each do |tag| %>
        <button type="button" class="btn btn-info"><%=tag %></button>
        <% end %> 
      </div><br>
      <div class="list-group-item-text">
    		<%= link_to 'Show', article_path(article), class: "btn btn-xs btn-primary" %> 
        
        <% if article.author == current_user %>
    		<%= link_to 'Edit', edit_article_path(article), class: "btn btn-xs btn-primary" %> 
    		<%= link_to 'Destroy', article_path(article), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-xs btn-primary" %> 
        <% end %>

        <%= link_to 'Summary', summary_article_path(article), class: "btn btn-xs btn-primary summary", id: "summary-#{article.id}" %> 
     
      </div>
    </div>
	<% end %>
</div>




<h4> <%= link_to 'New Article', new_article_path %> </h4>