<h1>List Articles</h1>

<div class="list-group">
	<% @articles.each do |article| %>
   <div class="list-group-item">
    <h4 class="list-group-item-heading"><%= article.title %> </h4>
		  <div class="list-group-item-text"> <%= article.text %> 
      </div>
      <div class="list-group-item-text">
    		<%= link_to 'Show', article_path(article), class: "btn btn-xs btn-primary" %> 
    		<%= link_to 'Edit', edit_article_path(article), class: "btn btn-xs btn-primary" %> 
    		<%= link_to 'Destroy', article_path(article), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-xs btn-primary" %> 
      </div>
    </div>
	<% end %>
</div>


<h4> <%= link_to 'New Article', new_article_path %> </h4>