<h1>Show</h1>

<p>
	<strong> Title: </strong>
	<%= @article.title %>
</p>
<p>
	<strong> Tekst: </strong>
	<%= @article.text %>
</p>



<% @article.comments.each do |comment| %>
<%= render 'comments/comment', comment: comment %>
<% end %>

<%= render 'comments/form' %>


<h5> <%= link_to 'Back', articles_path %> </h5>